@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
li,
a,
button {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
}
.navbarLinks {
  list-style: none;
}
.navbarLinks li {
  display: inline-block;
  padding: 0px 20px;
}
.navbarLinks li a {
  transition: all 0.5s ease 0s;
}
.navbarLinks li a:hover {
  color: rgb(3, 3, 2);
}
button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(194, 198, 127);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(15, 75, 75, 0.8);
}
.CB {
  border: 1px solid black;
  margin-left: ;
}
.sectionOne {
  border-top: 4px solid rgb(217, 204, 204);
  display: flex;
  justify-content: center;
}
.hiMyName {
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-size: 65px;
  color: rgb(4, 3, 3);
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 5%;
  margin-bottom: 18%;
}
.helloPic {
  padding-top: 20%;
  padding-left: 10%;
}
.profilePic2 {
  background-color: rgb(255, 255, 255);
  width: 60%;
  border: 5px dashed rgba(0, 136, 169, 1);
  border-radius: 50%;
  cursor: pointer;
}
.sectionTwo {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 30px 10%;
}
.aboutMe {
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}
.me {
  padding: 10% 5%;
}
.sectionThree {
  background-color: rgb(255, 255, 255);
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: rgb(3, 2, 2);
  text-decoration: none;
  padding-bottom: 40px;
}
.projects {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}
.projectPics {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-left: 3%;
}
.project {
  background-color: rgb(255, 255, 255);
  width: 90%;
  border: 1px solid greenyellow;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.projectText {
  background-color: rgb(255, 255, 255);
  padding-right: 20px;
  font-size: 30px;
}
.projectwText {
  background-color: rgb(255, 255, 255);
}
.sideColor {
  border-top: 4px solid rgb(217, 204, 204);
  background-color: rgb(255, 255, 255);
}
